.idea/copyright/profiles_settings.xml
.idea/DankMeals.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
/client_secret_406057883070-d26boopl1m5dd1cbknjl2cj3c1jl4eas.apps.googleusercontent.com.json
